
<div class ="row">
  <div class="col-md-4">
      <div class="btn-group  btn-block">
        <button id="connectButton" type="button" class="btn btn-default dropdown-toggle btn-block"  data-toggle="dropdown" aria-expanded="false">
          Connect Docker <span class="caret"></span>
        </button>
        <ul class="dropdown-menu col-xs-12" id="connectMenu">
          <li><a>default</a></li>
        </ul>
      </div>
  </div>
  <div class="col-md-4">
    <button  type="button" class="btn btn-success connect">Connect</button>
  </div>
  <div class="col-md-4">
    <span class="whoisConnected">
      default
    </span>
  </div>
</div>
