<div class="form-inline row text-left">

    <div class="col-md-3">
          <button id="connectDropDown" type="button" class="btn btn-default dropdown-toggle btn-block"  data-toggle="dropdown" aria-expanded="false">
            Connect Docker <span class="caret"></span>
          </button>
          <ul class="dropdown-menu col-xs-12" id="connectMenu">
            <li><a>default</a></li>
          </ul>
    </div>
    <div class="col-md-1" style="width : 150px">
      <button  type="button" class="btn btn-info connectButton btn-block text-center"> Connect </button>
    </div>

    <div class="col-md-6">
      <h4>
        <span>Using Docker Daemon - </span>
        <span  id="IsConnected"></span>
      </h4>
    </div>



</div>
<hr/>
