<!-- views/partials/nav.ejs -->

<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="./index">index<span class="sr-only">(current)</span></a></li>
    <li><a href="./container">Container</a></li>
    <li><a href="./network">network</a></li>
    <li><a href="./images">image</a></li>
    <li><a href="./volume">volume</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="./test">Web Terminal</a></li>
    <li><a href="./">Swarm</a></li>
    <li><a href="./dockerfile">Docker File</a></li>
    <li><a href="">More navigation</a></li>
  </ul>
</div>
