<!-- views/partials/nav.ejs -->
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="./container">Container</a></li>
    <li><a href="./network">network</a></li>
    <li><a href="./image">image</a></li>
    <li><a href="./volume">volume</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="./dockerfile">Docker File</a></li>
    <li><a href="./swarm">Swarm &amp; Node</a></li>
    <li><a href="./service">Service</a></li>
    <li><a href="./task">Task</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="./terminal">Web Terminal</a></li>
    <li><a href="./vnc">VNC</a></li>
  </ul>
</div>
