<!-- views/partials/nav.ejs -->

<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="../">index<span class="sr-only">(current)</span></a></li>
    <li><a href="./network">network</a></li>
    <li><a href="./images">image</a></li>
    <li><a href="./volume">volume</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="./test">Web Console Test</a></li>
    <li><a href="./graph">D3 Test</a></li>
    <li><a href="./stats">Stats</a></li>
    <li><a href="">Another nav item</a></li>
    <li><a href="">More navigation</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="">Nav item again</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
  </ul>
</div>
