<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">&nbsp; &nbsp; &nbsp; &nbsp;Wave</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./index"><span class="glyphicon glyphicon-unchecked"> </span> Dashboard</a></li>
        <li><a href="./settings"><span class="glyphicon glyphicon-cog"> </span> Settings</a></li>
        <li><a href="./logout"><span class="glyphicon glyphicon-off"> </span> Logout</a></li>
      </ul>
      <!-- <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form> -->

    </div>
  </div>
</nav>
