<!DOCTYPE html>
<html lang="ko">

<head>
  <% include ./partials/head %>
  <!-- 스크립트 -->
  <script src='/myapp/js/bundle/container.bundle.js'></script>
  <!-- <script src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script> -->
  <!-- <script src="js/jquery.loadingModal.js"></script> -->


</head>


<body id="body">
  <% include ./partials/topnav %>

<div class="container-fluid">
      <div class="row">
        <% include ./partials/nav %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row placeholders">

            <div>
              <h3 id="title">Containers List</h3>

              <div id="bgrp" class="btn-group" role="group">
                      <button  onclick=" return false;"  type="button" class="btn btn-info btn-lg plus">
                        <span class="glyphicon glyphicon-plus"></span> Plus
                        </button>
                      <button  onclick=" return false;"  type="button" class="btn btn-primary btn-lg start">Start</button>
                      <button  onclick=" return false;"  type="button" class="btn btn-default btn-lg stop">Stop</button>
                      <button  onclick=" return false;"  type="button" class="btn btn-success btn-lg pause">Pause</button>
                      <button  onclick=" return false;"  type="button" class="btn btn-info btn-lg unpause">Unpause</button>
                      <button  onclick=" return false;"  type="button" class="btn btn-warning btn-lg remove">Remove</button>
                      <button  onclick=" return false;"  type="button" class="btn btn-danger btn-lg kill">Kill</button>
              </div>
            </div>

            <table id="ctable" data-pagination="true" class="table table-striped jsonTable">
            </table>

          <div class="row">
            <div class="col-md-6">
              <div class="row detail">
              </div>
            </div>
            <div class="col-md-6" >
                <form class="form-horizontal" id="CreateContainer" >
                    <div class="form-group">
                      <label for="name" class="col-sm-2 control-label">Container Name: </label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="name"  name="container[name]" placeholder="Name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="image" class="col-sm-2 control-label">Images : </label>
                      <div class="col-sm-10">
                          <div class="btn-group  btn-block">
                            <button id="image" type="button" class="btn btn-default dropdown-toggle btn-block"  data-toggle="dropdown" aria-expanded="false">
                               Images <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu col-xs-12">
                            </ul>
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="command" class="col-sm-2 control-label">Command: </label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="command" value="/bin/bash" >
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="containerPort" class="col-sm-2 control-label">Container port : </label>
                      <div class="col-sm-2">
                        <input type="number" class="form-control"  min="1" max="65535" id="containerPort" >
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="hostPort" class="col-sm-2 control-label">Host port : </label>
                      <div class="col-sm-2">
                        <input type="number" class="form-control" min="1" max="65535" id="hostPort" >
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="protocol" class="col-sm-2 control-label">protocal : </label>
                      <div class="col-sm-2">
                        <label class="checkbox-inline">
                           <input type="checkbox" id="protocol" checked data-toggle="toggle" data-on="tcp"
                           data-off="udp" data-onstyle="success" data-offstyle="primary"></input>
                        </label>
                      </div>

                        <button class="btn btn-primary portAdd">Add</button>
                    </div>
                    <div class="form-group">
                      <div class = "portlists"></div>
                    </div>
                </form>
            </div>
          </div>
          </div>

        </div>
        </div>
      </div>
    </div>

</body>
</html>
