<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
	<script src= "/myapp/js/bundle/dockerfile.bundle.js">	</script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/themes/default/style.min.css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/jstree.min.js"></script>
	<link rel="stylesheet" href='/myapp/lib/jstree-bootstrap-theme/dist/themes/proton/style.min.css' />


	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/codemirror.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/addon/mode/simple.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/codemirror.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/mode/dockerfile/dockerfile.js"></script>

</head>
<style>
	#editor {
		text-align : text-left;

	}
	.CodeMirror { text-align: left; }
</style>
<body>
	<% include ./partials/topnav %>
	<div class="container-fluid">
		<% include ./partials/nav %>
		      <div class="row">
						<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		          <div class="row placeholders">
		            <div class="container">


                  <form class="form-horizontal" >

			                <div class="form-group">
												<div class="col-md-2" style="text-align : left">

													<div class="alert alert-success" id ="path">
 													</div>
															<div id="jstree">
															</div>
												</div>

												<div class="col-md-10">
													<div class="form-group">
														<div class="alert alert-info" id ="filename">
	 													</div>
													</div>
													<textarea id="editor" name="code"></textarea>
												</div>


			                </div>
                  </form>
									<div class="row">
											<div class="col-md-2">
											</div>
											<div class="col-md-4">
												<input type="text" class="form-control" id="imageName" placeholder="imageName:tag">
										</div>
										<div class="col-md-2">
											<button id="build" class="btn btn-success"><span class="glyphicon glyphicon-hdd"></span>Build</button>
										</div>
											<div class="col-md-4">
												<button class="btn btn-primary update"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
											</div>
									</div>

								</div>
							</div>
						</div>
					</div>
	</div>

</body>
</html>
