<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/themes/default/style.min.css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/jstree.min.js"></script>
	<link rel="stylesheet" href='/myapp/lib/jstree-bootstrap-theme/dist/themes/proton/style.min.css' />


	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/codemirror.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/addon/mode/simple.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/codemirror.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/mode/dockerfile/dockerfile.js"></script>

</head>
<style>
	#editor {
		text-align : text-left;

	}
	.CodeMirror { text-align: left; }
</style>
<body>
	<% include ./partials/topnav %>
	<div class="container-fluid">
		<% include ./partials/nav %>
		      <div class="row">
						<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		          <div class="row placeholders">
		            <div class="container">

									<div class="panel panel-success row">
											<div class="panel-heading">
													<h4 class ="text-left">DockerFile 관리</h4>
											</div>
											<div class="panel-body">

													<!-- <% include ./partials/connectDocker %> -->
													<!-- <form class="form-horizontal" > -->
													<div class="row">
														<div class="col-md-2">
														</div>
														<div class="col-md-6">
																<div class="alert alert-info text-center" id ="path" style="height : 30px" >
																</div>
															</div>
															<div class="col-md-2">
																<input type="text" class="form-control" id="imageTag" placeholder="imageName:tag">
															</div>
															<div class="col-md-1">
																	<button id="build" class="btn btn-success  btn-block"><span class="glyphicon glyphicon-hdd"></span>Build</button>
															</div>

															<div class="col-md-1">
																<button id="save" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
															</div>


													</div>
													<div class="row">

														<div class="form-group">
															<div class="col-md-2" style="text-align : left">
																<div id="jstree">
																</div>
															</div>

															<div class="col-md-10">
																<textarea id="editor" name="code" ></textarea>
															</div>
														</div>

													</div>


											</div>
									</div>

								</div>
								<div id="building">
								</div>
							</div>
						</div>
					</div>


	</div>

</body>
<% include ./partials/load %>

<script src= "/myapp/js/bundle/dockerfile.bundle.js">	</script>
</html>
