<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="/myapp/js/graph.js"></script>

	<link rel="stylesheet" href="/myapp/css/graph.css">
</head>

<body>
	<% include ./partials/topnav %>
	<div class="container-fluid">
		<% include ./partials/nav %>
		      <div class="row">
						<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		          <div class="row placeholders">
		            <div class="container">
									<div id="graph">
									</div>
								</div>
							</div>
						</div>
					</div>
	</div>

</body>
</html>
