<!DOCTYPE html>
<html lang="ko">

<head>
  <% include ./partials/head %>
  <!-- 스크립트 -->
  <script src="/myapp/js/bundle/image.bundle.js"></script>

</head>

<body>
  <% include ./partials/topnav %>

<div class="container-fluid">
      <div class="row">
        <% include ./partials/nav %>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row placeholders">
                <% include ./partials/connectDocker %>

                <div id="toolbar">
                        <div  class="btn-group" role="group">
                          <button  onclick=" return false;"  type="button" class="btn btn-default newForm">
                            <span class="glyphicon glyphicon-plus"></span>
                          </button>
                          <button  onclick=" return false;"  type="button" class="btn btn-default  remove">
                            <span class="glyphicon glyphicon-minus"></span></button>
                        </div>
                 </div>

                 <div class="panel panel-success row">
                     <div class="panel-heading">
                         <h4 class ="text-left">Image 관리</h4>
                     </div>
                     <div class="panel-body">
                        <table data-toolbar="#toolbar" class="table table-striped jsonTable"></table>
                    </div>
                  </div>

              </div>
          </div>

<!-- hide -->
          <form class="form-horizontal" id="hiddenForm">
              <div class="form-group">
                <label for="term" class="col-sm-2 control-label">Term: </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="term" placeholder="Term">
                </div>
              </div>
              <div class="form-group">
                <label for="limit" class="col-sm-2 control-label">limit: </label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="limit"  placeholder="limit">
                </div>
              </div>
              <div class="form-group">
                <label for="filters" class="col-sm-2 control-label">filters: </label>
                <div class="col-sm-10">
                  <label class="checkbox-inline">
                    is_automated <input type="checkbox" id="is_automated" checked data-toggle="toggle" data-on="true"
                     data-off="false" data-onstyle="success" data-offstyle="danger">
                  </label>
                  <label class="checkbox-inline">
                    is_official <input type="checkbox" id="is_official" checked data-toggle="toggle" data-on="true"
                     data-off="false" data-onstyle="success" data-offstyle="danger">
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="stars"  placeholder="stars">
                  </div>
                </div>
              </div>
              <div class="form-group">
                  <div class="row results">
                    <div class="col-md-12">
                        <table class="table table-striped dataTable"></table>
                        <button class="btn-default btn download">Download</button>

                    </div>
                  </div>
              </div>
          </form>
<!-- hide -->
      <form  class="form-horizontal" id= "msgdiag">
          <div class="form-group">
              <div id="status">
              </div>
                <div class="progress  progress-bar-success progress-bar-striped active">
                    <div class='progress-bar' role='progressbar' style='width: 0%' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100'>

                    </div>
                </div>
          </div>
      </form>
<!-- hide -->


        </div>

</div>

</body>
</html>
