<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <!-- socketio 서버 기동시 자동 생성 됨 경로만 지정-->
  <script src="/socket.io/socket.io.js"></script>

  <!-- 스크립트 -->
  <script src='/myapp/js/ajaxTest.js'></script>
  <script src='/myapp/js/socketio.js'></script>
</head>

<body>
<%= count %>
<h1>This is a heading</h1>
<p>This is a paragraph.</p>
<a href="#" id='select_link'><span>select_link</span></a>

<form class="" action="index.html" method="post">
  <input type="text" name="test" id='test' value="">
  <button type="button" name="button" id='select_btn'>send</button>
</form>

<div class="container">
  <h3>Socket.io Chat Example</h3>
  <form class="form-inline">
    <div class="form-group">
      <label for="msgForm">Message: </label>
      <input type="text" class="form-control" id="msgForm">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
  <div id="chatLogs"></div>
</div>

<%= include ../partials/nav %>

</body>
</html>
