<!DOCTYPE html>
<html lang="ko">

<head>
  <% include ./partials/head %>
  <!-- 스크립트 -->
  <script src='/myapp/js/socketio.js'></script>
  <script src='/myapp/js/index.js'></script>

</head>


<body>
  <% include ./partials/topnav %>

<div class="container-fluid">
      <div class="row">
        <% include ./partials/nav %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row placeholders">
            <div class="container">
              <h3>Make Containers?</h3>
              <form class="form-inline" id="CreateContainer">
                <div class="form-group">
                  <label for="msgForm">Container Name: </label>
                  <input type="text" class="form-control" id="msgForm">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
              </form>
              <div id="chatLogs"></div>
            </div>
            <div>
              <h3 id="title">Container List</h3>
              <button id="test" type="button" class="btn btn-primary btn-lg ctlbtn">Refresh TEst</button>

              <div id="bgrp" class="btn-group" role="group">
                      <button id="dstart" type="button" class="btn btn-primary btn-lg ctlbtn">Start</button>
                      <button id="dstop" type="button" class="btn btn-default btn-lg ctlbtn">Stop</button>
                      <button id="dremove" type="button" class="btn btn-danger btn-lg ctlbtn">Remove</button>
              </div>
            </div>

            <table id="ctable" data-pagination="true" class="table table-striped">
            </table>

          </div>

        </div>
        </div>
      </div>
    </div>

</body>
</html>
