<!DOCTYPE html>
<html lang="ko">

<head>
  <% include ./partials/head %>
  <!-- 스크립트 -->
  <script src='/myapp/js/bundle/network.bundle.js'></script>

</head>

<body>
  <% include ./partials/topnav %>

<div class="container-fluid">
      <div class="row">
        <% include ./partials/nav %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row placeholders">
            <% include ./partials/connectDocker %>


            <div id="toolbar" class="btn-group" role="group">
              <div  class="btn-group" role="group">
                <button  onclick=" return false;"  type="button" class="btn btn-default newForm">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button  onclick=" return false;"  type="button" class="btn btn-default  remove">
                  <span class="glyphicon glyphicon-minus"></span></button>
              </div>
            </div>
              <div  class="btn-group dropdown">
                  <button id="containerDropDown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Containers <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" id="containerMenu">
                  </ul>
              </div>


            <div class="panel panel-success row">
                <div class="panel-heading">
                    <h4 class ="text-left">네트워크 관리</h4>
                </div>
                <div class="panel-body">

                    <table data-toolbar="#toolbar"  data-pagination="true" class="table table-striped jsonTable"> </table>

                    <button id="connect" type="button" class="btn btn-success ctlbtn">
                      <span class="glyphicon glyphicon-log-in"></span>
                      Connect</button>
                    <button id="disconnect" type="button" class="btn btn-default ctlbtn">
                      <span class="glyphicon glyphicon-log-out"></span>Disconnect</button>
                </div>

            </div>

              <div id="detail" class="row detail">
              </div>
          </div>

          <form class="form-horizontal" id="hiddenForm">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Network Name: </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Name">
              </div>
            </div>
            <div class="form-group">
              <label for="driver" class="col-sm-2 control-label">Network Driver: </label>
              <div class="col-sm-10">
                <div class="btn-group btn-block" >
                  <button id="driverDropDown" type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown" aria-expanded="false">
                    driver <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" id="driverMenu">
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="internal" class="col-sm-2 control-label">Internal : </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="internal" checked data-toggle="toggle" data-on="true"
                data-off="false" data-onstyle="success" data-offstyle="danger"></input>
              </label>
            </div>
            <div class="form-group">
              <label for="options" class="col-sm-2 control-label">Options : </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="options" placeholder="options">
              </div>
            </div>
          </form>

        </div>
        </div>
</div>

</body>
</html>
