<!DOCTYPE html>
<html lang="ko">

<head>
  <% include ./partials/head %>
  <!-- 스크립트 -->
  <script src='/myapp/js/socketio.js'></script>
  <script src='/myapp/js/network.js'></script>

</head>

<body>
  <% include ./partials/topnav %>

<div class="container-fluid">
      <div class="row">
        <% include ./partials/nav %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row placeholders">
              <div id="detail" class="row">
              </div>
              <table id="networklist" class="table table-striped">
              </table>
          </div>

        </div>
        </div>
</div>

</body>
</html>
