<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>

  </head>
  <body>
    <% include ./partials/topnav %>
    <div class="container-fluid">
          <div class="row">
            <% include ./partials/nav %>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <div class="row placeholders">
                <div class="container">

                      <div id="toolbar" class="btn-group" role="group">
                        <div  class="btn-group" role="group">
                          <button  onclick=" return false;"  type="button" class="btn btn-default newForm">
                            <span class="glyphicon glyphicon-plus"></span>
                          </button>
                          <button  onclick=" return false;"  type="button" class="btn btn-default  remove">
                            <span class="glyphicon glyphicon-minus"></span></button>
                        </div>
                      </div>

                      <div class="panel panel-success row">
                          <div class="panel-heading">
                              <h4 class ="text-left">서비스 관리</h4>
                          </div>
                          <div class="panel-body">

                              <% include ./partials/connectDocker %>
                              <table data-toolbar="#toolbar" data-pagination="true" class="table table-striped jsonTable"></table>
                              <p><span class="glyphicon glyphicon-exclamation-sign"></span>
                                해당 호스트가 swarm 구성이 되있을 경우, 재 기능을 안할 수 있습니다.
                                다른 node 상태 확인하시오.
                              </p>
                          </div>
                      </div>

                      <div id="detail">
                      </div>
                </div>


<!-- hidden form -->
                          <form class="form-horizontal" id="hiddenForm">
                              <div class="form-group">
                                <label for="serviceName" class="col-sm-2 control-label">Name  </label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="serviceName">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="image" class="col-sm-2 control-label">Images  </label>
                                <div class="col-sm-10">
                                    <div class="btn-group  btn-block">
                                      <button id="imageDropDown" type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown" aria-expanded="false">
                                         Images <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" id="imageMenu">
                                      </ul>
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="network" class="col-sm-2 control-label">Network  </label>
                                <div class="col-sm-10">
                                    <div class="btn-group  btn-block">
                                      <button id="networkDropDown" type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown" aria-expanded="false">
                                         Network <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" id="networkMenu">
                                      </ul>
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="command" class="col-sm-2 control-label">Command  </label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="command">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="replicas" class="col-sm-2 control-label">Replicas  </label>
                                <div class="col-sm-2">
                                  <input type="number" class="form-control"  min="1" max="10" id="replicas" >
                                </div>
                              </div>
                              <!-- <div class="form-group">
                                <label for="healthCheck" class="col-sm-2 control-label">HealthCheck  </label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="healthCheck">
                                </div>
                              </div> -->
                              <% include ./partials/label %>

                              <% include ./partials/port %>

                          </form>


              </div>


            </div>



          </div>


    </div>

  </body>
  <% include ./partials/load %>
  <script src="/myapp/js/bundle/service.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
</html>
