<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="/myapp/js/bundle/service.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
  </head>
  <body>
    <% include ./partials/topnav %>
    <div class="container-fluid">
          <div class="row">
            <% include ./partials/nav %>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <div class="row placeholders">
                <div class="container">

                      <button type="button" class="btn btn-default btn-lg ctlbtn update">Update</button>
                      <div id="toolbar" class="btn-group" role="group">
                        <div  class="btn-group" role="group">
                          <button  onclick=" return false;"  type="button" class="btn btn-default newForm">
                            <span class="glyphicon glyphicon-plus"></span>
                          </button>
                          <button  onclick=" return false;"  type="button" class="btn btn-default  remove">
                            <span class="glyphicon glyphicon-minus"></span></button>
                        </div>
                      </div>


                      <table id="ctable" data-toolbar="#toolbar" data-pagination="true" class="table table-striped jsonTable">
                      </table>
                      <p><span class="glyphicon glyphicon-exclamation-sign"></span>
                        해당 호스트가 swarm 구성이 되있을 경우, 재 기능을 안할 수 있습니다.
                        다른 node 상태 확인하시오.
                    </p>

                      <div id="detail">
                      </div>
                </div>


<!-- hidden form -->
                          <form class="form-horizontal" id="hiddenForm">
                              <div class="form-group">
                                <label for="serviceName" class="col-sm-2 control-label">Name  </label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="serviceName">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="image" class="col-sm-2 control-label">Images  </label>
                                <div class="col-sm-10">
                                    <div class="btn-group  btn-block">
                                      <button id="imageDropDown" type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown" aria-expanded="false">
                                         Images <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" id="imageMenu">
                                      </ul>
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="network" class="col-sm-2 control-label">Network  </label>
                                <div class="col-sm-10">
                                    <div class="btn-group  btn-block">
                                      <button id="networkDropDown" type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown" aria-expanded="false">
                                         Network <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" id="networkMenu">
                                      </ul>
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="command" class="col-sm-2 control-label">Command  </label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="command">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="replicas" class="col-sm-2 control-label">Replicas  </label>
                                <div class="col-sm-2">
                                  <input type="number" class="form-control"  min="1" max="10" id="replicas" >
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="healthCheck" class="col-sm-2 control-label">HealthCheck  </label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="healthCheck">
                                </div>
                              </div>
                              <% include ./partials/label %>

                              <% include ./partials/port %>
                              <!--
                              <div class="form-group">
                                <label for="containerPort" class="col-sm-2 control-label">Container port : </label>
                                <div class="col-sm-2">
                                  <input type="number" class="form-control"  min="1" max="65535" id="containerPort" >
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="hostPort" class="col-sm-2 control-label">Host port : </label>
                                <div class="col-sm-2">
                                  <input type="number" class="form-control" min="1" max="65535" id="hostPort" >
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="protocol" class="col-sm-2 control-label">protocal : </label>
                                <div class="col-sm-2">
                                  <label class="checkbox-inline">
                                     <input type="checkbox" id="protocol" checked data-toggle="toggle" data-on="tcp"
                                     data-off="udp" data-onstyle="success" data-offstyle="primary"></input>
                                  </label>
                                </div>

                                <button id ="portAdd" class="btn btn-primary ">Add</button>
                              </div>
                              <div class="form-group">
                                <div id = "portlists"></div>
                              </div> -->
                          </form>
<!-- hidden form -->

              </div>


            </div>



          </div>


    </div>

  </body>
</html>
