<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>



  </head>
  <body>
    <% include ./partials/topnav %>
    <div class="container-fluid">
          <div class="row">
            <% include ./partials/nav %>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <div class="row placeholders">
                <div class="container">
                    <div class="panel panel-success row">
                        <div class="panel-heading">
                            <h4 class ="text-left">Docker Settings</h4>
                        </div>
                          <div class="panel-body">
                            <form class="form-horizontal" action="/myapp/settings/data" method="post" >
                              <div class="form-group row">
                                <label for="name" class="col-md-2 control-label">Docker Host IP  </label>
                                <div class="col-md-6">
                                  <input type="text" class="form-control ip_address" id="ip"  name="ip" placeholder="xxx.xxx.xxx.xxx">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="name" class="col-md-2 control-label">Docker Host Port  </label>
                                <div class="col-md-6">
                                  <input type="number" class="form-control" id="port" min="1" max="65535"   name="port" placeholder="port number">
                                </div>
                                <div class="col-md-2">
                                  <button type="submit" id="add" class="btn btn-default btn-primary btn-block">Add</button>
                                </div>
                              </div>
                            </form>

                            <table data-pagination="true"  class="table table-striped jsonTable">
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-info row">
                      <div class="panel-heading">
                          <h4 class ="text-left">Docker X-Registry-Auth</h4>
                      </div>
                      <div class="panel-body">
                        <form class="form-horizontal" action="/myapp/admin/update/auth"  method="post" >
                            <div class="form-group">
                              <label for="name" class="col-md-2 control-label">User Name</label>
                              <div class="col-md-6">
                                <input type="text" class="form-control" id="username"  name="username">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="name" class="col-md-2 control-label">Password </label>
                              <div class="col-md-6">
                                <input type="password" class="form-control" id="password" name="password">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="name" class="col-md-2 control-label">Email </label>
                              <div class="col-md-6">
                                <input type="text" class="form-control" id="email" name="email" placeholder="____@_____">
                              </div>
                              <div class="col-md-2">
                                <button type="submit" class="btn  btn-primary btn-block">Save</button>
                              </div>
                              <div class="col-md-2">
                                <button type="button" id="authCheck" class="btn btn-default btn-block">Check</button>
                              </div>
                            </div>
                        </form>

                      </div>
                    </div>


                    <div class="panel panel-danger row">
                      <div class="panel-heading">
                          <h4 class ="text-left">User</h4>
                      </div>
                      <div class="panel-body">
                        <form class="form-horizontal" action="/myapp/admin/update"  method="post" >
                            <div class="form-group">
                              <label for="name" class="col-md-2 control-label">Password </label>
                              <div class="col-md-6">
                                <input type="password" class="form-control" id="pass" name="pass">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="name" class="col-md-2 control-label">Confirm Password </label>
                              <div class="col-md-6">
                                <input type="password" class="form-control" id="cpass" name="cpass">
                              </div>
                              <div class="col-md-2">
                                <button type="submit" class="btn  btn-primary btn-block">Save</button>
                              </div>
                            </div>
                        </form>

                      </div>
                    </div>


                </div>
              </div>
            </div>
          </div>
    </div>

  </body>
  <% include ./partials/load %>
  <script type="text/javascript" src='/myapp/js/bundle/settings.bundle.js'></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
</html>
