<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    
    <link rel="stylesheet" href="/myapp/css/swarm.css">

  </head>


  <body>
    <% include ./partials/topnav %>
    <div class="container-fluid">
          <div class="row">
            <% include ./partials/nav %>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <div class="row placeholders">
                <div class="container">
                  <div class="form-group row">
                      <div class="col-md-6">
                        <div class="panel panel-success ">
                          <div class="panel-heading">
                            <h4>Docker Host Lists</h4>
                          </div>
                          <div class="panel-body">
                            <div class="text-left">
                              <button  onclick=" return false;"  type="button" class="btn btn-default" id = "refresh">
                                <span class="glyphicon glyphicon-refresh"></span>Refresh
                              </button>
                            </div>
                            <hr/>
                            <ol id="initlists" class='sortable vertical'>
                            </ol>
                          </div>
                        </div>
                      </div>


                    <div class="form-group">
                      <div class="col-md-6">
                        <div class="panel panel-danger ">
                          <div class="panel-heading">
                            <h4>Leader</h4>
                          </div>
                          <div class="panel-body">
                            <div class="form-inline row" id="init">
                                <div class="col-md-8 text-left">
                                    <label for="swarmPort" class="control-label">Swarm Init : </label>
                                    <input type="number" class="form-control"  min="1" max="65535" name="swarmPort" id="swarmPort" placeholder="Port" >

                                    <button type="submit" class="btn btn-primary init">Init</button>
                                </div>

                                <div class="col-md-4 text-right">
                                    <button class="btn btn-default load ">Load</button>
                                </div>
                            </div>

                            <div class="form-inline  row" id="leave">
                                <div class="col-md-6">
                                  <label class="checkbox-inline">
                                    <input type="checkbox" id="force" checked data-toggle="toggle" data-on="unforce"
                                    data-off="force" data-onstyle="default" data-offstyle="danger"></input>
                                  </label>
                                  <button class="btn btn-danger leave">Leave</button>
                                </div>

                                <div class="col-md-6">

                                  <button  onclick=" return false;"  type="button" class="btn btn-default" id = "reload">
                                    <span class="glyphicon glyphicon-refresh"></span>Reload
                                  </button>
                                  <button class="btn btn-default update ">Update</button>
                                </div>
                            </div>

                            <hr/>


                            <ol id="leader" class='sortable vertical'>
                            </ol>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-md-6">
                          <div class="panel panel-info ">
                              <div class="panel-heading">
                                  <h4>Managers</h4>
                              </div>
                              <div class="panel-body">
                                <ol id="managers" class='sortable vertical'>
                                </ol>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="panel panel-warning">
                              <div class="panel-heading">
                                  <h4>Workers</h4>
                              </div>
                              <div class="panel-body">
                                <ol id="workers" class='sortable vertical'>
                                </ol>
                              </div>
                           </div>
                     </div>
                  </div>

              </div>
            </div>
          </div>
        </div>
    </div>

  </body>
  <% include ./partials/load %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script>
  <script src="/myapp/js/bundle/swarm.bundle.js"></script>
</html>
