<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>

    <script src="/myapp/js/bundle/swarm.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

  </head>




  <body>
    <% include ./partials/topnav %>
    <div class="container-fluid">
          <div class="row">
            <% include ./partials/nav %>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <div class="row placeholders">
                <div class="container">

                    <div class = "row">
                        <div class="row">
                            <div class="col-md-4">
                              <label for="swarmPort" class="col-sm-2 control-label">swarm Init Port : </label>
                            </div>
                            <div class="col-md-4">
                              <input type="text" class="form-control" id="swarmPort">
                            </div>
                          <div class="col-md-4">
                            <button type="button" class="btn btn-primary init">Init</button>
                          </div>
                      </div>
                      <div class="row">

                          <div class="col-md-8">
                            <label for="force" class="col-sm-2 control-label">force : </label>
                            <label class="checkbox-inline">
                              <input type="checkbox" id="force" checked data-toggle="toggle" data-on="unforce"
                              data-off="force" data-onstyle="success" data-offstyle="danger"></input>
                            </label>
                          </div>
                          <div class="col-md-4">
                            <button class="btn btn-danger leave">Leave</button>
                          </div>
                      </div>

                    </div>
                    <div class = "row token">
                    </div>

                    <table data-pagination="true" id="swarmTable" class="table table-striped jsonTable">
                    </table>

                    <label class="checkbox-inline">
                       <input type="checkbox" id="role" checked data-toggle="toggle" data-on="Manager"
                       data-off="Worker" data-onstyle="primary" data-offstyle="default"></input>
                    </label>
                    <div class="col-sm-2">
                      <button id="availability" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                         Availability <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                      </ul>
                    </div>
                    <button class="btn btn-success start">Start</button>
                    <button class="btn btn-primary update">update</button>
                    <button class="btn btn-danger delete">delete</button>
                    <table data-pagination="true"  id="nodeTable"  class="table table-striped jsonTable">
                    </table>
                </div>


              </div>
            </div>
          </div>
    </div>

  </body>
</html>
