<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link type="text/css" href="/myapp/css/jquery.terminal.css" rel="stylesheet" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
 <script src="/myapp/js/terminal.js"></script>
   <script src="/myapp/js/jquery.terminal.min.js"></script>


  </head>
  <body>
    <% include ./partials/topnav %>
    <div class="container-fluid">
          <div class="row">
            <% include ./partials/nav %>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <div class="row placeholders">
                <div class="container">
                  <div  id="terminal"  style="height: 300px;text-align: left;">
                  </div>
                  <button id="eventTest" class="btn-default btn-primary">eventTest</button>
                </div>
              </div>
            </div>
          </div>
    </div>

  </body>
</html>
