<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>

  </head>
  <body>
    <% include ./partials/topnav %>

    <div class="container-fluid">
          <div class="row">
            <% include ./partials/nav %>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <div class="row placeholders">
                  <iframe id="extFrame" src="./vnc_core.ejs"
                  style="display:block; width:75vw; height: 80vh"></iframe>
              </div>
            </div>
          </div>
    </div>

  </body>
  <% include ./partials/load %>

</html>
